<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Appoinment Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data">
                    <td>{{i.name}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.dob}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.docName}}</td>
                    <td>{{i.appoDate}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
